@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* No seu arquivo CSS customizado para alterar a cor do input range */


input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(255, 255, 255); 
  height: 16px; 
  border-radius: 3rem; 
}

input[type="range"]::-webkit-slider-thumb {
  background: #e81153; 
  width: 30px;
  height: 30px;
  border-radius: 3rem; 
}

/* Estiliza para Firefox */
input[type="range"]::-moz-range-track {
  background: white;
}

input[type="range"]::-moz-range-thumb {
  background: #e81153;
}